.container {
  display: flex;
  height: 100vh;
}

mat-drawer {
  width: 250px;
  padding: 20px;
  background: #f4f4f4;
}

mat-drawer-content {
  padding: 30px;
}

h1 {
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 10px;
}

textarea, input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

textarea {
  height: 100px;
  resize: vertical;
}

button {
  margin-right: 10px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.app-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #3f51b5; // Adjust if needed
  color: white;
}

.logo {
  height: 40px; // Adjust size
  width: auto;
  margin-right: 10px; // Add space between logo and title
}

.app-title {
  font-size: 1.5rem;
  font-weight: bold;
}