@import 'bootstrap/scss/bootstrap';

/* Add these to your global styles */
body {
    margin: 0;
    font-family: 'Segoe UI', system-ui, sans-serif;
    color: #2c3e50;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #2c3e50;
  }
  
  .mat-input-element {
    font-family: 'Courier New', monospace !important;
  }
  
  .mat-form-field {
    font-size: 14px;
  }